
/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/

.author-image-large {
    position: absolute;
    right: 2vw;
    top: 0;
    img {
        @include calc(height, "100vh - 10px");
    }
}

.welcome-title {
    margin-right: 10px;
}
// .hexagon-item {
// 	a {
// 		path {
// 			fill: #59C4B4;
// 		}
// 	}
// }